<header class="site-header">

  <div class="page">

<div class="wrap">
  
            <div class="nav">
      <ul>
        <li><a href="http://www.dattarajpai.com" class="nav-one">Home</a></li>
        <li><a href="http://www.dattarajpai.com/blog" class="nav-one">Blog</a></li>
        <li><a href="http://www.dattarajpai.com/portfolio.html" class="nav-one">Portfolio</a></li>
        <li><a href="http://www.dattarajpai.com/contact.html" class="nav-one">Contact</a></li>
      </ul>
    </div>
</div>
  </div>

</header>
