<footer class="post-footer">

  <div class="wrapper">

<form action="http://pooleapp.com/stash/a500baaf-3acf-4ded-aa68-6fc575fedda2/" method="post">
  <h2>Leave your comment</h2>
  <label for="name">Your name</label><input type="text" name="name">
  <label for="url">Your website <span>(optional)</span></label><input type="text" name="url">
  <label for="email">Your email <span>(I'll never spam you.)</span></label><input type="text" name="email">
  <label for="comment">Your comment</label><textarea name="comment" class="comment-text"></textarea>
  <input type="submit" value="Post comment" class="submit" />
</form>

  </div>

</footer>
