<footer class="post-footer">

  <div class="wrapper">

<div class="comment">
  <form action="http://pooleapp.com/stash/a500baaf-3acf-4ded-aa68-6fc575fedda2/" method="post">
  <h2>Leave your comment</h2>
  <p>
     <label for="name">Your name</label><input type="text" name="name">
  </p>
    <p>
       <label for="url">Your website <span>(optional)</span></label><input type="text" name="url">
    </p>
      <p>
          <label for="email">Your email <span>(I'll never spam you.)</span></label><input type="text" name="email">
      </p>
        <p>
           <label for="comment">Your comment</label><textarea name="comment" class="comment-text"></textarea>
        </p>
          <p>
             <input type="submit" value="Post comment" class="submit" />
          </p>
  
 

 
 
</form>
</div>

  </div>

</footer>
